{% extends 'base.html.twig' %}

{% block title %}Welcome to your album{% endblock %}

{% block body %}
    <h1>Welcome to your album</h1>

    <table class="table">
        <thead>
            <tr>
                <th><h2>Imagen</h2></th>
                <th><h2>Titulo</h2></th>
                <th><h2>¿Quiere realizar algúna acción?</h2></th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td> <img src="{{ image.imagen }}" alt="{{ image.Titulo }}" width="300" height="200"><h2> {{ image.Titulo }}</h2></td>
                <td><h3>{{ image.Titulo }}</h3></td>
                <td>
                    <a href="{{ path('app_images_show', {'id': image.id}) }}"><button class="btn btn-primary" role="button" data-bs-toggle="button">Ver</button></a>
                    <a href="{{ path('app_images_edit', {'id': image.id}) }}"><button class="btn btn-primary" role="button" data-bs-toggle="button">Editar</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_images_new') }}"><button class="btn btn-primary" role="button" data-bs-toggle="button">Añadir nueva imágen</button></a>
{% endblock %}
